
#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }
  
  #main {
    background-color:#cce6ff;
    margin:auto;
    text-align:center;
    font-size:1.5vw;
    width:100%;

    
  }
  #title{
    color:#00284d; 
  }
  ol {
    list-style-type: square;
    display:block;
    margin-left: 25%;
    padding:0px;
    
    
  }
  li{
    display: list-item;
    line-height: 1.5em;
    text-align: left;
    justify-content: center;
  }
  a {
    color:#03335a;
  }
  a:hover {
    color:red;
  }
  #tribute-info > p{
    padding-bottom:15px;
    font-size: 1.5vw;
    
  }
  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5vw;
    margin-left: 0px;
    padding-bottom: 10px;

  }