#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }
  
  #main {
    background-color:#cce6ff;
    text-align: center;
  }
  #title{
    color:#00284d; 
  }
  ol {
    list-style-type: square;
    display: inline-block;
  }
  li{
    text-align: left;
  }
  a {
    color:#03335a;
  }
  a:hover {
    color:red;
  }
  #tribute-info > p{
    margin: auto;
    padding-bottom:15px;
    
  }